<!--TODO ? destructuring-->
<app-container *ngIf="imageInfo$ | async as info">
  <div class="_container">
    <div class="_user-wrap">
      <figure class="_user-photo">
        <img
          src="{{info.hits[0].userImageURL || '../assets/avatar-placeholder.gif'}}"
          alt="user">
      </figure>
      <p class="_user-name">
        {{info.hits[0].user}}
      </p>
    </div>
    <div class="_content">
      <figure class="_img">
        <img
          [src]="info.hits[0].largeImageURL"
          [alt]="info.hits[0].tags"
        >
      </figure>
      <a
        class="_tag-link"
        *ngFor="let tag of info.hits[0].tags.split(',');"
        routerLink="/"
        [queryParams]="{q: tag.trim()}"
      >{{tag.trim()}}</a>
    </div>
  </div>
</app-container>
