<app-container *ngIf="(imageInfo$ | async)?.hits[0] as info">
  <div class="_container">
    <div class="_user-wrap">
      <figure class="_user-photo">
        <img
          src="{{info.userImageURL || '../assets/avatar-placeholder.gif'}}"
          alt="user">
      </figure>
      <p class="_user-name">
        {{info.user}}
      </p>
    </div>
    <div class="_content">
      <figure class="_img">
        <img
          [src]="info.largeImageURL"
          [alt]="info.tags"
        >
      </figure>
      <a
        class="_tag-link"
        *ngFor="let tag of info.tags.split(',');"
        routerLink="/"
        [queryParams]="{q: tag.trim()}"
      >{{tag.trim()}}</a>
    </div>
  </div>
</app-container>
