:host {
  ._item {
    margin: 0;
    width: 20%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ._wrap {
    display: flex;
    flex-wrap: wrap;
  }

  ._search-placeholder {
    margin: 0 auto;
  }
}
